.text1 {
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  line-height: 67px;
  font-weight: 700;
}

.text2 {
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  line-height: 67px;
  font-weight: 700;
}

.horizontal {
  width: 70%;
  border: solid 1px rgb(211, 207, 207);
  margin: 20px auto 20px;
}

.textbox {
  margin-bottom: 10rem;
  text-align: center;

  animation-name: fadein;
  animation-duration: 2s;
  animation-timing-function: ease-in;
}

.container {
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
