@media (max-width: 483px) {
  .navToggler {
    margin: auto;
    width: 100%;
    color: #fafafa !important;
  }
  .navName {
    width: 100%;
    text-align: center;
    margin-right: 0;
  }

  .navLinks {
    text-align: center;
    padding-top: 10px;
    margin-right: 0 !important;
  }
}

.collapse {
  position: absolute;
  top: 56px;
  background-color: #121212ea;
  width: 100%;
}

/* Nav name */

.navName {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #fafafa !important;
  font-size: 25px;
  line-height: 40px;
  text-decoration: none;

  position: relative;
}

.navName:hover {
  color: inherit;
  cursor: pointer;
}

.navName::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  background-color: #9e9e9e;
  visibility: hidden;

  transition: 120ms ease-in-out;
}

.navName:hover::before {
  visibility: visible;
  width: 100%;
}

/* Nav */

.nav {
  margin: 1rem 0;
  font-family: "Roboto", sans-serif;
  background-color: #121212ea;

  animation: slideInFromTop 1000ms, fadein 1.8s;
}

/* Nav Links */

.navLinks {
  color: #fafafa !important;
  font-size: 20px;
  line-height: 40px;
  padding-right: 1.5rem;
  text-decoration: none;
  text-align: center;

  position: relative;
}

.navLinks:hover {
  color: inherit;
  cursor: pointer;
}

.navLinks::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  bottom: 3px;
  left: 0;
  border-radius: 10px;
  background-color: #9e9e9e;
  visibility: hidden;

  transition: 120ms ease-in-out;
}

.navLinks:hover::before {
  visibility: visible;
  width: 100%;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
