.navBar {
  background-color: #121212ea !important;
  padding: 20px 0;
  margin: 0;
  z-index: 99;
  animation: slideInFromTop 1000ms, fadein 1.8s;
}

/* Nav Brand */
.navBrand {
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fafafa !important;
  font-size: 20px;
  position: relative;
  text-decoration: none;
}
.navBrand:hover {
  color: inherit;
  cursor: pointer;
}
.navBrand::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  border-radius: 10px;
  background-color: #9e9e9e;
  visibility: hidden;

  transition: 120ms ease-in-out;
}
.navBrand:hover::before {
  visibility: visible;
  width: 100%;
}
/* ---------- */

/* Nav Links */
.navLinks {
  color: white !important;
  text-decoration: none;
  position: relative;
  padding-bottom: 6px;
}
.navLinks::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  bottom: 3px;
  left: 0;
  border-radius: 0;
  background-color: #9e9e9e;
  visibility: hidden;

  transition: 120ms ease-in-out;
}
.navLinks:hover::before {
  visibility: visible;
  width: 100%;
}
/* ---------- */
.navToggler {
  display: block;
  position: relative;
  z-index: 1;
  user-select: none;
  appearance: none;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.navToggler:focus,
.navToggler:active,
.navToggler-icon:focus {
  outline: none;
  box-shadow: none;
}

.spanGroup {
  display: block;
  width: 33px;
  height: 4px;
  position: relative;

  background-color: white;
  border-radius: 6px;
  z-index: 1;
  transform-origin: 0 0;
  transition: 0.4s;
}

.spanMiddle {
  margin: 5px 0;
}

.spanOne {
  transform: translate(0px, -2px) rotate(45deg) !important;
}

.spanTwo {
  opacity: 0;
  transform: translateX(15px) !important;
}
.spanThree {
  transform: translate(-3px, 3px) rotate(-45deg) !important;
}

@media (max-width: 991px) {
  .dropdown {
    background-color: #121212ea;
    background-image: none;
    backdrop-filter: blur(3px);

    position: absolute;
    right: 0;
    padding: 0 20px 5px 20px;
    margin: 20px 0 0 0;

    border-right: 2px solid;

    border-color: grey;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }

  .navLinks {
    text-align: end;
    color: white !important;
    margin-top: 6px;
  }

  .aboutNavLink {
    text-align: end;
    color: white !important;
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
    animation-duration: 150ms;
  }
  .skillsNavLink {
    text-align: end;
    color: white !important;
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
    animation-duration: 300ms;
  }
  .projectsNavLink {
    text-align: end;
    color: white !important;
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
    animation-duration: 450ms;
  }
  .contactNavLink {
    text-align: end;
    color: white !important;
    -webkit-animation-name: slideIn;
    animation-name: slideIn;
    animation-duration: 600ms;
  }
}

@media (min-width: 992px) {
  .navLinks {
    margin-right: 1.5rem;
  }
}

@keyframes slideIn {
  0% {
    transform: translateX(2rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0rem);
    opacity: 1;
  }
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
