.projectsTitle {
  font-size: 50px;
  line-height: 67px;
  font-weight: 700;
  margin-bottom: 5rem;
}

.projectsTextLeft {
  width: 50%;
  padding-right: 4rem;
}

.projectsTextRight {
  width: 50%;
  padding-left: 4rem;
}

.imageBoxLeft {
  width: 50%;
  display: flex;
}

.imageBoxRight {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.image {
  border-radius: 5%;
  object-fit: cover;
  object-position: center;
}

.projectsGroup1 {
  display: flex;
  justify-content: space-between;
}
.projectsGroup2 {
  display: flex;
  justify-content: space-between;
}

.projectsName {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 1.5rem;
}

.projectsInfo {
  font-size: 16px;
  font-weight: 300;
  font-size: 18px;
}

.tags {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.tag {
  margin: 0 3rem 1rem 0;
}

.horizontal {
  width: 70%;
  border: solid 1px rgb(211, 207, 207);
  margin: 8rem auto;
}

.github {
  width: 15.625rem;
  height: 3rem;
  background-color: rgb(250, 250, 250);
  color: rgb(18, 18, 18);
  padding: 1rem;
  margin: 0px auto;
  font-size: 0.875rem;
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 1rem;
  text-decoration: none;
  text-align: center;
  margin-top: 8rem;
}

.githubDiv {
  text-align: center;
}

@media (max-width: 900px) {
  .projectsGroups {
    display: flex;
    gap: 5rem;
    overflow-x: auto;
  }
  .projectsGroup1 {
    display: flex;
    flex-direction: column-reverse;
  }
  .projectsGroup2 {
    display: flex;
    flex-direction: column;
  }
  .horizontal {
    display: none;
  }
  .projectsTextLeft {
    padding: 0;
    width: 100%;
  }
  .projectsTextRight {
    padding: 0;
    width: 100%;
  }

  .imageBoxLeft {
    width: 100%;
    width: 500px;
    height: 375px;
  }

  .imageBoxRight {
    width: 100%;
    width: 500px;
    height: 375px;
  }
}
