.skillsTitle {
  font-size: 50px;
  line-height: 67px;
  font-weight: 700;
  margin-bottom: 5rem;
}

.badgeList {
  display: grid;
  grid-template-columns: repeat(4, 15rem);
  grid-gap: 1rem 1.5rem;
}

.badge {
  border: solid 2px white;
  border-radius: 10px;
  text-align: center;
  line-height: 3rem;
  font-weight: 400;
  font-size: 16px;
  height: 3rem;
  width: 15rem;
}

.container {
  margin-bottom: 12rem;
}

@media (max-width: 1650px) {
  .badgeList {
    display: grid;
    grid-template-columns: repeat(5, auto);
    overflow: auto;
    overflow-y: hidden;
  }
}
