.skillsTitle {
  font-size: 50px;
  line-height: 67px;
  font-weight: 700;
  margin-bottom: 4rem;
}

.badgeList {
  display: grid;
  grid-template-columns: repeat(5, 12rem);
  row-gap: 16px;
  column-gap: 0px;
}

.badge {
  border: solid 2px white;
  border-radius: 10px;
  text-align: center;
  line-height: 3rem;
  font-weight: 400;
  font-size: 14px;
  height: 50px;
  max-width: 160px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 24px;
}

.container {
  margin-bottom: 27rem;
}

.svg {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.loadMoreButton:hover {
  cursor: pointer;
}

@media (max-width: 1695px) {
  .badgeList {
    grid-template-columns: repeat(4, 12rem);
  }
}

@media (max-width: 922px) {
  .badgeList {
    grid-template-columns: repeat(3, 12rem);
  }
}

@media (max-width: 685px) {
  .badgeList {
    grid-template-columns: repeat(2, 12rem);
  }
}

@media (max-width: 440px) {
  .badgeList {
    overflow-x: auto;
  }
}
